<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>
		<h1><a href="../index.html">Winter Store</a></h1>

		<nav>
			<ul class="opcoes">
			<li><a href="CadastrarArma.html"> Cadastrar Arma</a></li>
			<li><a href="ConsultarArma.html"> Consultar Arma</a></li>
			<li><a href="../Controller/C_ConsultarTodasArmas.php"> Exibir Todas</a></li>
			<li><a href="ExcluirArma.html"> Excluir Arma</a></li>
			<li><a href="AlterarArma.html"> Alterar Arma</a></li>
		</nav>
	</body>

</html>