<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>
		<h1><a href="../index.html">Winter Store</a></h1>

		<nav>
			<ul class="opcoes">
			<li><a href="CadastrarDragao.html"> Cadastrar Dragao</a></li>
			<li><a href="ConsultarDragao.html"> Consultar Dragao</a></li>
			<li><a href="../Controller/C_ConsultarTodosDragoes.php"> Exibir Todos</a></li>
			<li><a href="ExcluirDragao.html"> Excluir Dragao</a></li>
			<li><a href="AlterarDragao.html"> Alterar Dragao</a></li>
		</nav>
	</body>

</html>