<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>
		<h1><a href="../index.html">Winter Store</a></h1>

		<nav>
			<ul class="opcoes">
			<li><a href="CadastrarExercito.html"> Cadastrar Exercito</a></li>
			<li><a href="ConsultarExercito.html"> Consultar Exercito</a></li>
			<li><a href="../Controller/C_ConsultarTodosExercitos.php"> Exibir Todos </a></li>
			<li><a href="ExcluirExercito.html"> Excluir Exercito</a></li>
			<li><a href="AlterarExercito.html"> Alterar Exercito</a></li>
		</nav>
	</body>

</html>