<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>
		<h1><a href="../index.html">Winter Store</a></h1>

		<nav>
			<ul class="opcoes">
			<li><a href="CadastrarPedido.php"> Cadastrar Pedido</a></li>
			<li><a href="ConsultarPedido.html"> Consultar Pedido</a></li>
			<li><a href="../Controller/C_ConsultarTodosPedidos.php"> Exibir Todos</a></li>
			<li><a href="ExcluirPedido.html"> Excluir Pedido</a></li>
			<li><a href="AlterarPedido.html"> Alterar Pedido</a></li>
		</nav>
	</body>

</html>