<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>
		<h2> Alteração de Casa</h2>
		<div class="cadastro">
			<form action="../Controller/C_AlterarCasa.php" method="post">
				<label>ID: </label><input type="text" name="id" ><br>
				
				
				<button type="submit" value="enviar">Enviar</button>
				<button type="reset" value="apagar">Apagar</button>
				<button type="button"><a href="Casa.html"> Voltar </a></button>
				
			</form>
		</div>
	</body>

</html>