<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</header>
	
	<body>

		<h2> Cadastro de Casa </h2>
		<div class="cadastro">
			<form action="../Controller/C_CadastrarCasa.php" method="post">
				<label>ID: </label><input type="text" name="id" ><br>
				<label>Nome: </label><input type="text" name="nomev" ><br>
				<label>Representante: </label><input type="text" name="representante" ><br>
				<label>Patrimonio: </label><input type="text" name="patrimonio" ><br>
				
				
				
				
				<button type="submit" value="Enviar">Enviar</button>
				<button type="reset" value="Apagar">Apagar</button>
				<button type="button"><a href="Casa.html"> Voltar </a></button>
				
			</form>
		</div>
	</body>

</html>