<!DOCTYPE html>
<html lang = "pt-br">

	<header>
		<META charset= "utf-8">
		<title> Winter Store </title>
		<link rel="stylesheet" type="text/css" href="estiloCasa.css"/>
	</header>
	
	<body>
		<h1><a href="../index.html">Winter Store</a></h1>

		<nav>
			<ul class="opcoes">
			<li><a href="CadastrarCasa.html"> Cadastrar Casa</a></li>
			<li><a href="ConsultarCasa.html"> Consultar Casa</a></li>
			<li><a href="../Controller/C_ConsultarTodasCasas.php"> Consultar todas as Casas</a></li>
			<li><a href="ExcluirCasa.html"> Excluir Casa</a></li>
			<li><a href="AlterarCasa.html"> Alterar Casa</a></li>
		</nav>
	</body>

</html>